{% extends 'mgrep/base.html' %}
    {% block content %}
    <form method="post" style="display:inline" class="form-group">{% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div>
        <table class="table" cellspacing="0">
    <thead>
      <tr>
        <th>puttern</th>
        <th>paths</th>
        <th>color</th>
        <th>invert match</th>
        <th>line number</th>
        <th>ignore case</th>
        <th>only count</th>
        <th>recursive</th>
        <th>only filename</th>
        <th>only inverse file</th>
      </tr>
    </thead>
    <tbody>
        {% for search in all_search %}
        <tr class="table-success" data-toggle="collapse" data-target="#{{search.id}}">
            <td>{{search.puttern}}</td>
            <td>{{search.paths}}</td>
            <td>{{ search.color }}</td>
            <td>{{ search.invert_match }}</td>
            <td>{{ search.line_number }}</td>
            <td>{{ search.ignore_case }}</td>
            <td>{{ search.only_count }}</td>
            <td>{{ search.recursive }}</td>
            <td>{{ search.only_filename }}</td>
            <td>{{ search.only_inverse_file }}</td>
        </tr>
        <tr class="collapse" id="{{search.id}}">
            <td colspan="10">
                <div >
                    <div class="card card-body">
                        {{search.response}}
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
    </div>
    {% endblock content %}